<div class="leftbox">
    <kendo-treeview
        kendoTreeViewHierarchyBinding
        kendoTreeViewExpandable
        [filterable]="true"
        [expandOnFilter]="filterExpandSettings"
        [nodes]="TreeDepartment"
        childrenField="Departments"
        textField="Name"
        idField="DepartmentId"
        kendoTreeViewSelectable
        selectBy = "DepartmentId"
        [(selectedKeys)]="selectedKeys"
        (selectedKeysChange) = "selectKeyChange($event)"
    >
</kendo-treeview>
</div>

