<div>
    <app-dashboard [TreeDepartment]="TreeDepartment" (changeDepartClick)="clickDepartmentchange($event)"></app-dashboard>
    <div>
        <div class="rightbox">
            <div class="navfeature">
                <app-button-add 
                    [departments] = "TreeDepartment"
                    [listPostions] = "ListPosition"
                    [listTitles] = "ListTitle"
                ></app-button-add>
            </div>
            <app-grid-employee 
                [departments] = "TreeDepartment"
                [listPostions] = "ListPosition"
                [listTitles] = "ListTitle"
                [listEmployee] = "ListEmployee"></app-grid-employee>
        </div>
    </div>
    
</div>
