<div class="rightbox">


    <div class="navfeature">
        <kendo-excelexport [data]="gridData" fileName="Products.xlsx" #excelexport>
            <kendo-excelexport-column field="Id" title="Mã nhân viên">
            </kendo-excelexport-column>
            <kendo-excelexport-column field="ContactName" title="Tên nhân viên">
            </kendo-excelexport-column>
        </kendo-excelexport>
        <button type="button" class="k-button" (click)="excelexport.save()">Export To Excel</button>
    </div>
    <div>
        <kendo-grid
            [kendoGridBinding]="gridData"
            [pageSize]="10"
            [pageable]="true"
            [sortable]="true"
            [filterable]="true"
            [height]="510"
            >
            <kendo-grid-column field="Id" title="Mã nhân viên" [width]="50"></kendo-grid-column>
            <kendo-grid-column field="ContactName" title="Họ và tên" [width]="120"></kendo-grid-column>
            <kendo-grid-column field="City" title="Thành phố" [width]="100"></kendo-grid-column>
            <kendo-grid-column field="ContactTitle" title="Chức danh" [width]="130"></kendo-grid-column>
            </kendo-grid>
    </div>
</div>